{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
      	{% include 'includes/alerts.html' %}
     <form method="POST">
      {% csrf_token %}
      {{ form|crispy }} 
      {{form.errors}}
      <button type="submit">Add Product</button>
	</form>
		
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
 
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}